<div class="text-center">
  <h4>Admin</h4>
  <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto align-items-center">
    <%= render "layouts/shared/admin/admin" %>
    <li class="nav-item"><%= link_to "admin home", root_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "customers", admin_customers_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "part type", admin_part_types_path, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "car part", admin_car_parts_path, class: "nav-link" %></li>
  </ul>
</div>