<div>
  <%= link_to "back", admin_car_parts_path, class: "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
  <div class="card shadow-sm mt-3">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="display-6">Show Car Part</h2>
        <div class="d-flex">
          <div class="mx-1">
            <%= button_to "Delete", admin_car_part_path(@car_part), method: :delete, data: {turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 d-flex justify-content-center mb-4">
          <%= @car_part.image.present? ? image_tag(@car_part.image.variant(:large), class: "img-fluid rounded shadow") : image_tag("https://via.placeholder.com/500", class: "img-fluid rounded shadow") %>
        </div>
        <div class="col-md-7">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Car Part Details</h5>
              <p class="mb-2"><strong>Name</strong> <%= @car_part.name %></p>
              <p class="mb-2"><strong>Price</strong> <%= @car_part.price %> €</p>
              <p class="mb-2"><strong>Active</strong> <%= @car_part.active %></p>
              <p class="mb-2"><strong>Type</strong> <%= @car_part.part_type.name %></p>
              <p class="mb-2"><strong>Created</strong> <%= @car_part.created_at.strftime("%Y-%m-%d %H:%M") %></p>
              <p class="mb-2"><strong>Last updated</strong> <%= @car_part.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
              <div>
                <p class="mb-0"><strong>Description</strong></p>
                <p class="mt-0"><%= @car_part.description %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
