<h1>Part Types</h1>
<%= link_to "New part type", new_admin_part_type_path %>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @part_types.each do |part_type| %>
      <tr>
        <!--        <td><%#= part_type.image.present? ? image_tag(part_type.image.variant(:thumb)) : image_tag("https://via.placeholder.com/50") %></td>-->
        <td><%= part_type.id %></td>
        <td><%= part_type.name %></td>
        <td><%= part_type.description %></td>
        <td><%= link_to "view", admin_part_type_path(part_type) %></td>
      </tr>
    <% end %>
  </tbody>
</table>